.App {
  text-align: center;
  /* min-height: calc(100vh - 34px); */
  color: white;
  max-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.footer {
  position: relative !important;
  left: 0 !important;
  bottom: 0 !important;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 0 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
